// Specific CSS for your home-page
.home {
  height: 82vh;
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffe277;
}

.home h1 {
    color: white;
    text-shadow: 0px 2px 2px 0px rgba(0,0,0,0.1);
    font-size: 48px;
  }

.image-big {

}
