// Specific CSS for your home-page
.home {
  min-height: calc(100vh - 70px - 60px);
  width: 100%;
  text-align: center;
  background-color: #ffe277;
  padding: 0;
  margin: 0;
}

.home img {
  width:400px;
}

.home h1 {
    color: white;
    text-shadow: 0px 2px 2px 0px rgba(0,0,0,0.1);
    font-size: 40px;
    margin-bottom: 50px;
    margin-top: -50px;
  }

.notice {
  display: none;
}

.home a {
  text-decoration: none;
}
