<div class="container text-align-center">
  <% @users.each do |user| %>
    <div class="card-product">
      <img src="https://poulespondeuses.com/wp-content/uploads/2018/02/Tonio-Poule-1080x810.jpg" />
      <div class="card-product-infos">
        <h2><%= user.name %></h2>
        <p><%= user.address %></p>
        <p><%= user.description %></p>
      </div>
    </div>
  <% end %>
</div>
