<div class="footer">
  <div class="center-footer">
    <div class="footer-links">
      <a href="https://github.com/LauSoup/paulette" target="_blank"><i class="fab fa-github"></i></a>
      <a href="https://en.wikipedia.org/wiki/Chicken" target="_blank"><i class="fas fa-egg"></i></a>
    </div>
    <div class="footer-copyright">
      This app is made with <i class="fas fa-heart"></i> by Laurence, Noéline, Nicolas & Edgar!
    </div>
  </div>
</div>

