<div class="home" style="background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)), url(https://cap.img.pmdstatic.net/fit/http.3A.2F.2Fprd2-bone-image.2Es3-website-eu-west-1.2Eamazonaws.2Ecom.2Fcap.2F2017.2F12.2F29.2F7a5ed202-2e76-4bb4-aadc-1d139eb33164.2Ejpeg/750x375/background-color/ffffff/quality/70/chez-poulehouse-les-vielles-poules-ont-une-belle-retraite-1264069.jpg);">
  <h1>Poupoule Power !</h1>
</div>


