// Noéline's cards.
.container {
  text-align: center;
  h1 {
    font-size: 48px;
    font-weight: bold;
    padding: 30px;
    color: black;
    opacity: 0.6;
  }
}

.card-product {
  overflow: hidden;
  height: 300px;
  width: 300px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: inline-grid;
  align-items: center;
  margin: 10px 0px;
  border-radius: 4px;
  position: relative;
  h6 {
    position: absolute;
    top: 4px;
    right: 4px;
    font-size: 16px;
    color: white;
    font-weight: bold;
  }
}

.card-product img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.card-product h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
  color: #E67E22;
}

.card-product p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-product .card-product-infos {
  padding: 16px;
  position: relative;
  text-align: left;
}

.card-product .card-product-infos a {
  text-decoration: none;
}

.card-product .card-product-infos i {
  text-decoration: none;
  color: black;
}

// display card index with map

.main-container-index {
  display: flex;
  background-color: #F4F4F4;
}

.container-index {
  text-align: center;
  h2 {
    font-size: 48px;
    font-weight: bold;
    padding: 30px;
    color: black;
    opacity: 0.6;
  }
}

.cards-index {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 10px;
  flex-grow: 0;
  margin-right: 10px;
  margin-left: 10px;
  border: none;
  padding: 0px;
  background-color: #F4F4F4;
}

// Edgar's cards

.cards-container {
  padding: 0px 70px;
}

.cards-container{
  position:relative;
  top:-50px;
}
.hen-cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;
  margin-top: 20px;
}

.hen-card {
  color: white;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.4);
}

.hen-card img {
  width: 100%;
  height: 240px;
  object-fit: cover;
}

.hen-card h5, p {
  color:black;
}

.grey-filter {
  opacity:0.6;
}

.card .farmer-intro-card {
  display: flex;
  margin-bottom: 40px;

}

// FORM CARDS

.request-card {
  vertical-align: center;
  text-align:center;
  padding: 70px;

  form {
    margin-bottom:30px;
  }


  h1 {
    color:white;
    margin-bottom:10px;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.4);
  }

  p {
    color:white;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.4);
  }

  label {
    color:white;
    font-size:24px;
    font-weight:bold;
    margin-left:3px;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.4);
  }

  a{
    text-decoration: none;
  }
}

.hen-card .btn-flat {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  background: #E67E22;
  transition: background 0.3s ease;
  text-align: center;
  width: 180px;
}

.hen-card .btn-flat:hover {
  background: #E67E22;
  color: white;
}


.hen-card .text-right {
  color: #E67E22;
}

// Dynamic display of hens' cards:

@media (max-width: 1200px) {
  .hen-cards {
    grid-template-columns: 1fr 1fr;
  }


}

@media (max-width: 900px) {
  .hen-cards {
    grid-template-columns: 1fr;
  }
}



// Medium devices (tablets, 768px and up)
