.card-review {
  overflow: hidden;
  height: 120px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
}

.card-review img {
  height: 100%;
  width: 120px;
  object-fit: cover;
}

.card-review h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-review p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-review .card-review-infos {
  padding: 16px;
}

.reviews {
  margin: 20px 0px;
}

.card-review .card-review-infos .fas {
  color: #FFEA81;
}
