.mapboxgl-popup {
  max-width: 200px;
}

.mapboxgl-popup-content {
  text-align: center;
  font-family: $body-hen-font;
}

#map {
  height: 100vh;
  flex-grow: 1;
  position: sticky;
  top: 0;
  margin-top: 10px;
  margin-right: 10px;
}
