.navbar-lewagon {
  justify-content: space-between;
  background: white;
  position: sticky;
  top: 0;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.navbar-expand-sm .navbar-nav .nav-link {
  padding-right: 0.9rem;
}

.navbar-light .navbar-nav .nav-link:hover {
  color: $hen-orange;
}